
<div class="row">
  <div class="col-md-4 login-sec">
    <h2 class="text-center">Find Jobs</h2>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="findJobs()">
      <div class="form-group">
        <label for="what" class="text-uppercase">What</label>
        <input type="text" class="form-control" formControlName="username" placeholder="Job title, Keywords or Company">
      </div>
      <div class="form-group">
        <label for="where" class="text-uppercase">Where</label>
        <input type="password" formControlName="password" class="form-control" placeholder="Kansas City, MO">
       
      </div>


      <div class="form-check">
        <button type="submit" class="btn btn-login float-right">Find Jobs</button>
      </div>
    </form>


  </div>

</div>

<h2>Jobs</h2>

<div class="row">
    <div class="col-md-8">
      <mat-card class="example-card" *ngFor="let job of jobsData">
        <mat-card-header (click)="getDescription(job.link)">
          <!-- <mat-icon>more_vert</mat-icon>
          <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{job.name}}</mat-card-title>
          <mat-card-subtitle>{{job.company}} &nbsp; {{job.rating}}</mat-card-subtitle>
          <mat-card-subtitle>{{job.location}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{job.summary}}</mat-card-content>
      </mat-card>
    </div>
</div>



<!-- <div *ngIf="rawData">
  <h3>Raw Data from uploaded Resume </h3>
  <div>
    {{rawData}}
  </div>
</div> -->