<h2 align="center">{{searchTitle}}</h2>

<div class="row">
  <div class="col-md-8">
    <mat-card class="example-card" *ngFor="let job of jobsData">
      <mat-card-header [routerLink]="" (click)="getDescription(job)">
        <!-- <mat-icon>more_vert</mat-icon>
          <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{job.name}}</mat-card-title>
        <mat-card-subtitle>{{job.company}} &nbsp; {{job.rating}}</mat-card-subtitle>
        <mat-card-subtitle>{{job.location}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <button class="btn btn-login"><a href={{job.link}} target="_blank">Apply</a></button>
        </div>
        <div class="summary">
          {{job.summary}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- <div class="col-md-8" *ngIf="jobDescription">
      <div [innerHTML]="jobDescription"></div>
  </div> -->
</div>
