<mat-tab-group>
  <mat-tab label="Openings">
    <div class="tabHeading">
      <h3>Top Companies for Software Engineers in {{searchValue}}</h3>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let carrer of carrerOpenings">
        <mat-card>
          <div mat-dialog-title>
            <div>{{carrer.jobTitle}}</div>
            <div>{{carrer.openings}}</div>
            <div>{{carrer.average}} : &nbsp;{{carrer.salary}}&nbsp;{{carrer.period}}</div>
            <!-- <div>Location: {{carrer.location}}</div> -->
            <div>
              <!-- <button class="btn btn-login"><a (click)="openRespectiveJobs(carrer.jobsLink)" href={{carrer.jobsLink}} target="_blank">Apply</a></button> -->
              <button class="btn btn-login" (click)="openRespectiveJobs(carrer.jobsLink)">See Openings</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Salaries">
    <div class="tabHeading">
      <h3>Top Paid Companies for Software Engineers in {{searchValue}}</h3>
    </div>
    <div class="row">
      <div class="col-md-12" *ngFor="let salary of topSalaries;let i = index;">
        <mat-card (click)="openSalaryLink(salary.link)">
          <div mat-dialog-title>
            <div class="row">
              <div class="col-md-2">{{i+1}}</div>
              <div class="col-md-5">{{salary.companyName}}</div>
              <div class="col-md-5">{{salary.salary}} per year </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Companies">
    <div class="tabHeading">
      <h3>Top Companies for Software Engineers in {{searchValue}}</h3>
    </div>
    <div class="row">
      <div class="col-md-6" *ngFor="let key of keeys; let i=index">
        <mat-card>
          <div mat-dialog-title class="headbgColor">{{key}}</div>
          <div *ngFor="let v of Values[i]">
            <div mat-dialog-content>{{v}}</div>
          </div>
        </mat-card>
      </div>

    </div>
  </mat-tab>
  <mat-tab label="Stats">
    <div class="tabHeading">
      <h3>Statistics for Software Engineers in {{searchValue}}</h3>
    </div>
    
      <div *ngIf="showChart && openings" style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                >
        </canvas>
      </div>

      <div *ngIf="showChart" style="display: block;">
        <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
        >
        </canvas>
      </div>
    
  </mat-tab>
</mat-tab-group>



<!-- <div mat-dialog-content>
  <div *ngIf="carrerOpenings">
    <div [innerHTML]="carrerOpenings.description"></div>
  </div>
</div> -->

<!-- 
average: "Average salary"
jobTitle: "Full Stack Developer"
jobsLink: "https://www.indeed.com/jobs?q=full+stack+developer&l=United+States&from=career"
location: "United States"
openings: "12146 openings"
period: "per year"
salary: "$113,465" 
-->
