.tabHeading {
    margin-top: 10px;
    margin-left: 20px;
}

.headbgColor {
    background-color: lightgray;
}

.mat-card{
    text-align: center;
}

.btn-login{background: #DE6262; color:#fff; font-weight:600;}