<!-- Image and text -->
<!-- <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="">
      <img src="./assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Enterprise Trajectory
    </a>
    
    <div class="form-inline">
      <button *ngIf="isLoggedin" (click)="logOut()" class="btn btn-outline-success my-2 my-sm-0">Log out</button> &nbsp;
       <button *ngIf="!isLoggedin" class="btn btn-outline-success my-2 my-sm-0">SignIn</button> &nbsp;
      <button *ngIf="!isLoggedin" class="btn btn-outline-success my-2 my-sm-0">SignUp</button>
 </div>
  
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
 -->

 <router-outlet></router-outlet>